@import "variables";

.auth-form {
  width: 100%;
  position: absolute;
  height: calc(100vh - #{$heightToolbar});
  top: $heightToolbar;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E9FCFF;
}

.main-box {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px gray;
  border-radius: 14px;
  background-color: white;
  font-size: 40px;
}

.input-text {
  margin-top: 30px;
  width: 80%;
  height: 40px;
  font-size: 24px;
  padding: 1px 10px;
}

.button-auth {
  margin-top: 30px;
  height: 40px;
  font-size: 24px;
  padding: 3px 10px;
  background-color: #E9FCFF;
}

.input-password-if-username-error {
  margin-top: 15px !important;
}
.input-error {
  border: 1px solid red;
}

.input-error-password {
  border: 1px solid red;
  margin-top: 30px;
}

.error-message {
  color: red;
  font-size: 18px;
  display: flex;
  margin-top: 15px;
}



