@import "variables";

.authForm {
  width: 100%;
  position: absolute;
  height: calc(100vh - #{$heightToolbar});
  top: $heightToolbar;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E9FCFF;
}

.mainBox {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px gray;
  border-radius: 14px;
  background-color: #F6FEFF;
  font-size: 40px;
}

input {
  margin-top: 40px;
  width: 80%;
  height: 40px;
  font-size: 24px;
  padding: 1px 10px;
}



